
<body>

    <header class="masthead" style=" 
        background-image: url(https://i.pinimg.com/originals/55/78/9b/55789b1c2b4b4f0706bad632aa1b601f.jpg); 
        height: 740px">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-dark font-weight-bold" style="font-size: 60px;">El valor de tu energia</h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <h4 class="text-white-75 font-weight-light mb-5">Somos una estrategia de acumulación del valor que se
                        genera al usar la bicicleta como medio de transporte alternativo y recreativo.</h4>
                    <a class="btn btn-dark btn-xl js-scroll-trigger" href="#nosotros">Ver más</a>
                </div>
            </div>
        </div>
    </header>

    <section class="page-section " id="nosotros" style="background-color: rgba(213,228,217,1); height: 280px; padding-top:40px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-dark mt-0">¿Qué ofrecemos?</h2>
                    <hr class="divider dark my-4">
                    <p class="text-dark -50 mb-4"> Nuestro objetivo es Promover el
                        uso intensivo de la Bicicleta como un medio de transporte cotidiano y los cambios sociales que
                        eso implica en las ciudades de américa latina. Nuestro servicio es el pago por registro de
                        recorridos en bicicleta</p>

                    <!--a-- class="btn btn-xl js-scroll-trigger" style="background-color: rgba(213,228,217,1)"
                        href="/about">Más informacion</!--a-->
                </div>
            </div>
        </div>
    </section>

    <section class="page-section bg-dark" id="funcion" style=" height: 400px; padding-top:40px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">

                    <h2 class="text-light mt-0">¿Cómo funciona?</h2>
                    <hr class="divider light my-4">
                    <p class="text-light -50 mb-4"> 1.- Te registras en el formulario de arriba </p>
                    <p class="text-light -50 mb-4"> 2.- Luego de tu registro recibirás un mensaje de bienvenida por
                        Whats App (WA), a partir de ese
                        momento nos puedes enviar una captura de pantalla de tus recorridos (si haces más de uno al
                        día). </p>
                    <p class="text-light -50 mb-4"> 3.- Se valida y se enviarán tus fondos via YAPE (el movil que
                        registres deberá estar a tu nombre
                        y coincidir con el que figure en la captura de pantalla).</p>

                    <!--img src="img/captura_ejemplo"
                        height="500px" width="250px">





                    <!--a-- class="btn btn-xl js-scroll-trigger" style="background-color: rgba(213,228,217,1)"
                        href="/about">Más informacion</!--a-->
                </div>
            </div>
        </div>
    </section>


    <section class="page-section" id="contacto" style="background-color: rgba(213,228,217,1); height: 380px; padding-top: 40px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">¡Contáctanos!</h2>
                    <hr class="divider my-4">
                    <p class="text-muted mb-5">¿Estás listo para unirte? Llámanos o escribenos al correo </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div>+51 987654321</div>
                </div>
                <div class="col-lg-5 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in anchor text AND the link below! -->
                    <a class="d-block" href="mailto:contact@yourwebsite.com">contacto@website.com</a>
                </div>
            </div>
        </div>
    </section>

    
    <footer class="bg-dark py-5">
        <div class="container">
            <div class="small text-center text-muted">Copyright &copy; 2022 - Energy Money Global Fund </div>
        </div>
    </footer>

</body>