<div class="container p-4" style="background-color: rgba(213,228,217,1)">
    <div class="row">
        <div class="col-md-4 mx-auto" >
            <div class="card text-center" style="margin-top: 120px">
                <div class="card-header">
                    <h3>¡Inicia sesión!</h3>
                    <img src="https://previews.123rf.com/images/grgroup/grgroup1611/grgroup161113006/66712813-pictograma-y-el-icono-de-la-bici-personas-afici%C3%B3n-deportiva-persona-y-el-tema-humano-dise%C3%B1o-aislado-.jpg"
                        height="100px" width="100px">
                </div>
                <div class="card-body" >
                    <form action="/signin" method="POST">

                        <div class="form-group">
                            <input type="text" name="username" placeholder="Username" class="form-control" autofocus>
                        </div>

                        <div class="form-group" style="margin-top: 20px">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>

                        <div class="form-group" style="margin-top: 20px">
                            <button class="btn btn-success btn-block">
                                Entrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>